<nav class="breadcrumbs" aria-label="Breadcrumb">
  <ol>
    <li><a href="{{ routes.root_url }}">Home</a></li>

    {% if template contains 'collection' %}
      <li><a href="{{ collection.url }}">{{ collection.title }}</a></li>
    {% endif %}

    {% if template contains 'product' %}
      {% if collection %}
        <li><a href="{{ collection.url }}">{{ collection.title }}</a></li>
      {% endif %}
      <li>{{ product.title }}</li>
    {% endif %}

    {% if template contains 'page' %}
      <li>{{ page.title }}</li>
    {% endif %}
  </ol>
</nav>
